.what {
    position: relative;
    padding-bottom: 80px;
    @include tablet-plus {
        padding-bottom: 140px;
    }

    .container {
        @include tablet-plus {
            display: flex;
            justify-content: center;
            flex-direction: row-reverse;
            gap: 48px;
        }
    }

    &__line {
        background: url(../../assets/images/icons/Shape-seven.svg) no-repeat bottom;
        @include tablet-plus {
            background: url(../../assets/images/Shappe.png) no-repeat bottom;
        }
    }

    &__text {
        &:after {
            content: '';
            width: 62px;
            height: 63px;
            position: absolute;
            background: url(../../assets/images/icons/like.png) no-repeat;
            top: 8%;
            right: 33%;
            @include tablet-plus {
                width: 220px;
                height: 225px;
                background: url(../../assets/images/like.svg);
                top: -11%;
                right: 76%;
            }
        }
    }

    &__title {
        font-weight: 600;
        font-size: 24px;
        line-height: 140%;
        text-transform: capitalize;
        color: #332C5C;
        &::before {
            content: '';
            width: 79px;
            height: 81px;
            position: absolute;
            background: url(../../assets/images/icons/chat.png) no-repeat;
            top: 24%;
            right: -4%;
            @include tablet-plus {
                top: 66%;
                right: 65%;
                background: url(../../assets/images/chat.svg) no-repeat;
                width: 200px;
                height: 200px;
            }
        }
        @include tablet-plus {
            font-size: 48px;
            line-height: 70px;
        }
    }

    &__sub-title {
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: #1C0E0D;
        opacity: 0.8;
        @include tablet-plus {
            font-size: 20px;
            line-height: 36px;
            max-width: 652px;
        }
    }

    &__sub-title-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 180%;
        color: #1C0E0D;
        opacity: 0.8;   
        display: none;
        &:after {
            content: '';
            width: 126px;
            height: 123px;
            position: absolute;
            background: url(../../assets/images/emoji.png);
            top: 74%;
            right: 1%;
        }
        @include tablet-plus {
            display: block;
            margin: 20px 0 125px;
            font-size: 18px;
            line-height: 36px;
        }
    }

    &__pool {
        margin: 30px 0;
        width: 170px;
        height: 144px;
        background: #FFF8F2;
        border-radius: 40px;
        &:after {
            content:'';
            width: 63px;
            height: 55px;
            position: absolute;
            background: url(../../assets/images/icons/Elements-too.png) no-repeat;
            top: 20%;
            right: 16%;
        }
        @include tablet-plus {
            border-radius: 370px;
            width: 298px;
            height: 379px;
            margin-top: 105px;
        }
    }

    &__title-sub {
        margin: 30px 0 28px;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #38363C;
        @include tablet-plus {
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__title-p {
        margin: 10px 0 14px;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        color: #38363C;
        opacity: 0.7;
    }

    &__list {
        display: flex;
        gap: 11px;
        &::after {
            content: '';
            position: absolute;
            width: 100px;
            height: 120px;
            background: url(../../assets/images/Vectorr.svg);
            top: 85%;
            right: -2%;
            z-index: -1;
        }
    }

}